.chat_wrapper {
    position: relative;
    height: 80vh;
    width: 100%;
}

.messages_wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 32px);
    overflow-y: auto;
    padding: 10px 20px 0;
}

.message {
  &_wrapper {
    display: flex;
    width: 100%;
  }

  &_title {
    span {
      margin-right: 10px;
    }
  }

  &_name {
    font-weight: bold;
    align-self: center;
  }

  &_text {
    margin-left: 42px;
    word-break: break-all;
  }
}

.own_message {
  justify-content: flex-end;

  .message_title {
    display: flex;
    justify-content: flex-end;
  }
}

.button {
  width: 100%;
}

.chat-input_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
