.login_layout {
    background: #ffffff !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-height: 500px;
}
